ACCESS_TOKEN=access_token_value
TENANT_ID=tenant_id_value
APP_ID=app_id_value
CLIENT_SECRET=client_secret_value
HOSTNAME=hostname_value
SITE_PATH=site_path_value
FILE_NAME=file_name_value
SHEET_NAME=sheet_name_value
MODEL=model_value
OPENAI_API_KEY=openai_api_key_value
MODO_LOCAL=false
CAMINHO_PLANILHA_LOCAL=caminho_planilha_local_value
PATH_PDFS=path_pdfs_value
BAIXAR_PDFS_SHAREPOINT=false
CAMINHO_PASTA_PDFS_SHAREPOINT=Documentos Compartilhados/Notas Fiscais
PROMPT=prompt_value
STREAMLIT_CLOUD=false
